.img-responsive{
    background-image: url("../../src/assets/images/backimgae.jpg");
    background-position: center center;
    background-attachment:fixed;
    background-size:cover;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    width:100%;
    position: absolute;
}

::ng-deep .customDialog {
    width: 20% !important;
    height: 100% !important;
    background: #000428; 
    background: linear-gradient(to right, rgb(11 11 12 / 73%), #1f1f21);
    overflow: hidden;
}
.p-button.p-button-info{
    color: #ffffff;
    background: #000304;
    border: 1px solid #000000;
}


@media  screen and (min-width: 250px) and (max-width: 720px) {
    ::ng-deep .customDialog {
        width: 52.5% !important;
        height: 100% !important;
        background: #000428; 
        background: linear-gradient(to right, rgb(11 11 12 / 73%), #1f1f21);
        overflow: hidden;
    }
    .img-responsive{
        background-image: url("../../src/assets/images/backimgae.jpg");
        background-position: center center;
        background-attachment:fixed;
        background-size:cover;
        height: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        width: 100%;       
        margin: 0 ;
    }
    .p-sidebar .p-sidebar-header + .p-sidebar-content {
        padding-top: 0;
        position: absolute;
    }
}


@media  screen and (min-width: 721px) and (max-width: 1440px)  {
    ::ng-deep .customDialog {
        width: 50% !important;
        height: 100% !important;
        background: #000428; 
        background: linear-gradient(to right, rgb(11 11 12 / 73%), #1f1f21);
        overflow: hidden;
    }
    .img-responsive{
        background-image: url("../../src/assets/images/backimgae.jpg");
        background-position: center center;
        background-attachment:fixed;
        background-size:cover;
        height: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        width: 100%;     
        margin: 0 ;
          
    }
}
