.jyoti{
    width:100%;
    height: auto;
    position:absolute;
    top: 45%;
    left: 38%;
    display: block;
    max-width: fit-content;
    text-align: center;
}

.karan{
    width:100%;
    height: auto;
    position:absolute;
    top: 45%;
    left: 54%;
    display: block;
    max-width: fit-content;
    text-align: center;
}

.img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
    max-width: 100%;
    
  }
  
.img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
    max-width:100%;
  }
  
.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
    max-width:100%;
 
  }

 .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 320px) and (max-width: 7200px){
  .jyoti{
    width: 33%;
    height: auto;
    position: absolute;
    top: 45%;
    left: 13%;
    display: block;
    max-width: fit-content;
    text-align: center;
  }
  .karan{
    width: 33%;
    height: auto;
    position: absolute;
    top: 45%;
    left: 54%;
    display: block;
    max-width: fit-content;
    text-align: center;
  }

  .img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
    max-width: 70%;
  }

  .img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
    max-width: 85%;
  }

  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
    max-width: 50%;
  }
  .p-button{
    font-size: 10px;
  }

  .p-button-raised {
  max-width: 60%;
  }  

  .p-button-raised1 {
    max-width: 60%;
  } 

  .p-button-label {
    flex: 1 1 auto;
}

  .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  }

  .fa:hover {
  opacity: 0.7;
  }

}

@media only screen and (min-width: 721px) and (max-width: 1440px) {
  .jyoti{
    width: 100%;
    height: auto;
    position: absolute;
    top: 45%;
    left: 13%;
    display: block;
    max-width: fit-content;
    text-align: center;
}
.karan{
  width: 100%;
  height: auto;
  position: absolute;
  top: 45%;
  left: 54%;
  display: block;
  max-width: fit-content;
  text-align: center;
}
  .img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
    max-width: 100%;
  }

  .img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
    max-width: 100%;
  }

  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
    max-width: 50%;
  }
  .p-button{
    font-size: 20px;
  }

  .p-button-raised {
  max-width: 80%;
  }  

  .p-button-raised1 {
    max-width: 80%;
  } 

  .p-button-label {
    flex: 1 1 auto;
}

  .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  }

  .fa:hover {
  opacity: 0.7;
  }

}