.jyoti{
    width: 7%;
    height: auto;
    position:absolute;
    top: 65%;
    left: 38%;
    display: block;
}

.karan{
    width: 7%;
    height: auto;
    position:absolute;
    top: 65%;
    left: 54%;
    display: block;
}

.img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
  }
  
.img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
  }
  
.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }

.p-button-raised {
  left: 34%;
}  

 .p-button-raised1 {
  left: 40%;
 } 
  
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}
