/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
     background-position: center center;
     background-attachment:fixed;
     background-size:cover;
     height: 100%;
     overflow: hidden;
     background-repeat: no-repeat;
     width: 100%;
     position: absolute;
 }

